body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b1a0b;
  color: white;
  text-align: center;
}

header {
  background: linear-gradient(#1e7f1e, #0b1a0b);
  padding: 20px;
}

.logo {
  width: 120px;
}

nav {
  background: #145214;
  padding: 10px;
}

nav a {
  color: #00ff55;
  text-decoration: none;
  margin: 10px;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  margin: 15px;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #ffcc00;
  color: #000;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.2s;
}

.button:hover {
  background: #ffaa00;
}

footer {
  background: black;
  padding: 10px;
  margin-top: 30px;
}
